.container-input-text-area-component {
    display: flex;
    flex-direction: column;
}

.container-input-text-area-component>label {
    margin-bottom: 6px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.container-input-text-area-component>textarea {
    padding: 10px 14px;
    margin-bottom: 20px;

    height: 88px;
    width: 100%;
    resize: none;

    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container-input-text-area-component>textarea::placeholder {
    color: #667085;
}

.container-input-text-area-component>textarea:focus {
    outline: 1.5px solid rgb(119, 117, 117);
}

.container-input-text-area-component>.input-avoid {
    border: 1px solid var(--feedback-error-normal);
}

.message-error {
    position: relative;
    bottom: 18px;
    right: 75px;
    height: 5px;
    width: auto;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--feedback-error-normal);
}