.modal-background-edit-user {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(2px);
}

.modal-content-edit-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;

    background-color: #FFFFFF;
}


.modal-close-button-edit-user>img {
    position: relative;
    top: 20px;
    right: 30px;

    float: right;

    height: 18px;
    width: 18px;
}

.modal-close-button-edit-user>img:hover {
    cursor: pointer;
    scale: 1.1;
}

.modal-content-edit-user>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 100%;
    width: 100%;

    padding: 25px 50px;
}

.modal-content-edit-user>form input {
    width: auto;
}

.modal-content-edit-user>form>button {
    align-self: center;
}

.header-form-edit-user {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 20px;
}

.header-form-edit-user>h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--grayscale-1)
}

.container-edit-user-input-optional {
    display: flex;
}

#cpf-edit-user {
    margin-right: 24px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message-error-edit-user {
    position: relative;
    bottom: 20px;
    right: -2px;
    height: 5px;
    width: 315px;
    margin-bottom: 5px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--feedback-error-normal);
}

.modal-content-edit-user .show-hide-password-icon {
    position: relative;
    float: right;
    right: 10px;
    top: -65px;

    cursor: pointer;
    margin-bottom: -30px;
}

.modal-sucess-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 512px;
    width: 600px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.modal-sucess-edit>img {
    height: 104px;
    width: 104px;
    margin-bottom: 24px;
}

.modal-sucess-edit>p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--grayscale-1);
}